<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:insert="fragments/head :: head(title = ${'Авторизация'})"></div>
    <link rel="stylesheet" type="text/css" th:href="@{../resources/css/login.css}">
</head>
<body>

    <div class="container">
        <div class="onl_login">
            <div class="row onl_row-sm-offset-3 onl_socialButtons">
                <form class="form-signin" th:action="@{/login}" method="post">
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger" role="alert">
                            Ошибка авторизации.<br>
                            Invalid username and password.
                        </div>
                    </div>

                    <div th:if="${param.logout}">
                        <div class="alert alert-info" role="alert">Вы вышли.</div>
                    </div>
                    <a th:href="@{/auth/google}" class="btn btn-lg btn-block onl_btn-google-plus" data-toggle="tooltip"
                       data-placement="top" title="Google Plus">
                        <i class="fa fa-google-plus fa-2x"></i>
                        <span class="hidden-xs"></span>
                    </a>
                </form>
            </div>
            <br>
        </div>
    </div>

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>