<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="editCurrency" data-target="#exampleModal">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Валюта</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="currencyForm" th:action="@{/currency/submit}" method="post" th:object="${objectCurrency}" enctype="application/x-www-form-urlencoded">
                            <div class="form-group">
                                <label for="name">Название:</label>
                                <input id="name" class="form-control" name="name" required type="text" th:field="*{name}">
                            </div>
                            <div class="form-group">
                                <label for="code">Код:</label>
                                <input id="code" class="form-control" name="code" required type="text" th:field="*{code}">
                            </div>
                            <div class="form-group">
                                <label for="symbol">Символ:</label>
                                <input id="symbol" class="form-control" name="symbol" required type="text" th:field="*{symbol}">
                            </div>
                            <button id="button" type="submit" class="btn btn-success">Сохранить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <div class="result">
                                <span id="answer"></span>
                                <span id="loader" style="display:none"><img src="../../images/loader.gif" th:src="@{../resources/images/loader.gif}" alt=""></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>