<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Start page</title>
</head>
<body>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Код</th>
                <th scope="col">Символ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="currency : ${list_currencies}">
                <td th:text="${currency.name}">
                <td th:text="${currency.code}">
                <td th:text="${currency.symbol}">
            </tr>
            </tbody>
        </table>
<!--Greeting: <p th:text="${greeting}"></p>-->
</body>
</html>