<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head(title = ${'Список счетов'})"></div>
</head>
<body>
    <div th:insert="fragments/header :: header(current = ${'accounts'})"></div>
    <div th:insert="account/editAccount :: editAccount"></div>

    <main role="main" class="container">
        <form id="remove-form" th:action="@{/account/list}" method="post">
        <div class="row">
            <div>
                <button type="button" class="btn btn-success add-button" data-toggle="modal" data-target="#accountModal">Добавить</button>
                <button id="delete-button" type="submit" class="btn btn-dark del-button" data-target="">Удалить</button>
            </div>
        <table class="table table-hover inverse">
            <thead class="thead-default">
            <tr>
                <!--todo style of field-->
                <th scope="col">...</th>
                <th scope="col">Название</th>
                <th scope="col">Тип счета</th>
                <th scope="col">Валюта</th>
                <th scope="col">Начальный баланс</th>
            </tr>
            </thead>
            <tbody>
            <tr th:id="'account-'+${account.id}" th:each="account : ${list_accounts}">
                <td th:id="'account-checked-'+${account.id}">
                    <div class="form-check form-check-inline">
                        <input th:id="'checkbox-'+${account.id}" th:name="idChecked" class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="${account.id}">
                    </div>
                </td>
                <td th:id="'account-name-'+${account.id}" th:text="${account.name}" data-toggle="modal" data-target="#accountModal"
                    th:data-account-id="${account.id}" data-account-id="${account.id}">
                <td th:id="'account-type-'+${account.id}" th:text="${account.accountType}" data-toggle="modal" data-target="#accountModal"
                    th:data-account-id="${account.id}" data-account-id="${account.id}">
                <td th:id="'account-currency-'+${account.id}" th:text="${account.currencyModel}" data-toggle="modal" data-target="#accountModal"
                    th:data-account-id="${account.id}" data-account-id="${account.id}">
                <td th:id="'account-amount-'+${account.id}" th:text="${account.amount}" data-toggle="modal" data-target="#accountModal"
                    th:data-account-id="${account.id}" data-account-id="${account.id}">
            </tr>
            </tbody>
        </table>
        </div>
        </form>
    </main>

    <div th:insert="fragments/footer :: footer"></div>

</body>
</html>