<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="editCategory" data-target="#categoryModal">
        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Категория</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="categoryForm" th:action="@{/category/submit}" method="post"
                              th:object="${objectCategory}"
                              enctype="application/x-www-form-urlencoded">
                            <div class="form-group">
                                <label for="name">Название:</label>
                                <input id="name" class="form-control" name="name" required type="text" th:field="*{name}" th:value="*{name}"/>
                            </div>
                            <div class="form-group">
                                <label for="parent">Родительская категория:</label>
                                <select id="parent" class="form-control" name="parent" >
                                    <option th:each="parent : ${list_categories}"
                                            th:text="${parent}"
                                            th:value="${parent.name}">Родительская категория</option>
                                </select>
                            </div>
                            <button id="button" type="submit" class="btn btn-success">Сохранить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <div class="result">
                                <span id="answer"></span>
                                <span id="loader" style="display:none"><img src="../../images/loader.gif" th:src="@{../resources/images/loader.gif}" alt=""></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>