<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head(title = ${'Список категорий'})"></div>
</head>
<body>
    <div th:insert="fragments/header :: header(current = ${'categories'})"></div>
    <div th:insert="category/editCategory :: editCategory"></div>

    <main role="main" class="container">
        <form id="remove-form" th:action="@{/category/list}" method="post">
        <div class="row">
            <div>
                <button type="button" class="btn btn-success add-button" data-toggle="modal" data-target="#categoryModal">Добавить</button>
                <button id="delete-button" type="submit" class="btn btn-dark del-button" data-target="">Удалить</button>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">...</th>
                    <th scope="col">Название</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${list_categories}">
                    <td th:id="'category-checked-'+${category.id}">
                        <div class="form-check form-check-inline">
                            <input th:id="'checkbox-'+${category.id}" th:name="idCategories" class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="${category.id}">
                        </div>
                    </td>
                    <td th:id="'category-name-'+${category.id}" th:text="${category.name}" data-toggle="modal" data-target="#categoryModal"
                        th:data-category-id="${category.id}" data-category-id="${category.id}"
                        th:data-parent="${category.parent}">
                        <!--th:data-parent="${#strings.isEmpty(category.parent) ? 'null' : category.parent}">-->
                </tr>
                </tbody>
            </table>
        </div>
        </form>
    </main>

    <div th:insert="fragments/footer :: footer"></div>

</body>
</html>