<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="header (current)">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Financial planner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${current == 'transactions'} ? 'active'">
                        <a class="nav-link" href="/transaction/list">Транзакции</a>
                    </li>
                    <li class="nav-item" th:classappend="${current == 'accounts'} ? 'active'">
                        <a class="nav-link" href="/account/list">Счета</a>
                    </li>
                    <li class="nav-item" th:classappend="${current == 'categories'} ? 'active'">
                        <a class="nav-link" href="/category/list">Категории</a>
                    </li>
                    <li class="nav-item" th:classappend="${current == 'currencies'} ? 'active'">
                        <a class="nav-link" href="/currency/list">Валюты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</body>
</html>