<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head :: head(title = ${'Список транзакций'})"></div>
</head>
<body>
    <div th:insert="fragments/header :: header(current = ${'transactions'})"></div>
    <div th:insert="transaction/editTransaction :: editTransaction"></div>

    <main role="main" class="container">
        <form id="remove-form" th:action="@{/transaction/list}" method="post">
        <div class="row">
            <div>
                <div class="form-group">
                    <button type="button" class="btn btn-success add-button" data-toggle="modal" data-target="#transactionModal">Добавить</button>
                    <button id="delete-button" type="submit" class="btn btn-dark del-button" data-target="">Удалить</button>
                    <label for="fromDate">  Показывать транзакции: с  </label>
                    <input id="fromDate" class="fromDate" th:id="${'fromDate'}" name="fromDate" type="date" width="200" th:value="${fromDate}" onchange="dateOnChange();">
                    <label for="upToDate">  по  </label>
                    <input id="upToDate" class="upToDate" th:id="${'upToDate'}" name="upToDate" type="date" width="200" th:value="${upToDate}" onchange="dateOnChange();">
                    <label for="categoryFilter">Категория:</label>
                    <select id="categoryFilter" class="form-control-inline categoryFilter" name="categoryFilter" onchange="categoryOnChange();">
                        <option th:text="${'Не выбрано'}" th:value="${'Не выбрано'}"></option>
                        <option th:each="category : ${list_categories}"
                                th:text="${category}"
                                th:value="${category.name}"
                                th:selected="${category.name == selectedCategory}">
                            Категория
                        </option>
                    </select>
                </div>
                <br>
                <span>
                    <b>Тип транзакции?</b>
                    <!--todo implement with transactionTypeList-->
                    <div class="form-check form-check-inline">
                        <input id="radio1" name="transactionTypeFilter" type="radio" value="Все" onchange="checkTransactionType();" th:checked="${selectedType == 'Все'}">
                        <label class="form-check-label" for="radio1">Все</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="radio2" name="transactionTypeFilter" type="radio" value="Доход" onchange="checkTransactionType();" th:checked="${selectedType == 'Доход'}">
                        <label class="form-check-label" for="radio2">Доход</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="radio3" name="transactionTypeFilter" type="radio" value="Расход" onchange="checkTransactionType();" th:checked="${selectedType == 'Расход'}">
                        <label class="form-check-label" for="radio3">Расход</label>
                    </div>
                </span>
            </div>
            <div class="block-left">
                <h5><br></h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">...</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Счет</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Тип транзакции</th>
                        <th scope="col">Теги</th>
                        <!--<th scope="col">Теги</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction : ${list_transactions}">
                        <td th:id="'transaction-checked-'+${transaction.id}">
                            <div class="form-check form-check-inline">
                                <input th:id="'checkbox-'+${transaction.id}" th:name="idTransactions" class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="${transaction.id}">
                            </div>
                        </td>
                        <td th:id="'transaction-dateTime-'+${transaction.id}" th:text="${transaction.dateTime}" data-toggle="modal" data-target="#transactionModal"
                            th:data-transaction-id="${transaction.id}" data-transaction-id="${transaction.id}">
                        <td th:id="'transaction-amount-'+${transaction.id}" th:text="${transaction.amount}" data-toggle="modal" data-target="#transactionModal"
                            th:data-transaction-id="${transaction.id}" data-transaction-id="${transaction.id}"
                            th:style="'font-weight: bold; color:'+${transaction.transactionType == 'Доход' ? 'lawngreen' : 'red'}">
                        <td th:id="'transaction-account-'+${transaction.id}" th:text="${transaction.account}" data-toggle="modal" data-target="#transactionModal"
                            th:data-transaction-id="${transaction.id}" data-transaction-id="${transaction.id}">
                        <td th:id="'transaction-category-'+${transaction.id}" th:text="${transaction.category}" data-toggle="modal" data-target="#transactionModal"
                            th:data-transaction-id="${transaction.id}" data-transaction-id="${transaction.id}">
                        <td th:id="'transaction-transactionType-'+${transaction.id}" th:text="${transaction.transactionType}" data-toggle="modal" data-target="#transactionModal"
                            th:data-transaction-id="${transaction.id}" data-transaction-id="${transaction.id}">
                        <td th:id="'transaction-tags-'+${transaction.id}" th:text="${transaction.tags}" data-toggle="modal" data-target="#transactionModal"
                            th:data-transaction-id="${transaction.id}" data-transaction-id="${transaction.id}">
                        <!--<td th:text="${transaction.tags}">-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="block-right">
                <h5>Доходы и расходы</h5>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Категория</th>
                            <th scope="col">Доход</th>
                            <th scope="col">Расход</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="list_ieNoCategories" type="java.util.Map<String, IncomeExpense>"*/-->
                        <tr th:each="entity : ${list_ieByCategories}">
                            <td th:text="${entity.key == null ? 'Без категории' : entity.key.name}">
                            <td th:text="${entity.getValue().income}">
                            <td th:text="${entity.getValue().expense}">
                        </tr>
                        <tr th:each="entity : ${list_ieNoCategories}">
                            <td th:text="${'Всего за период'}" style="font-weight: bold; font-style: italic">
                            <td th:text="${entity.getValue().income}" style="font-weight: bold; color: lawngreen">
                            <td th:text="${entity.getValue().expense}" style="font-weight: bold; color: red">
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </form>
    </main>

    <div th:insert="fragments/footer :: footer"></div>

</body>
</html>