<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список валют</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../css/template.css" th:href="@{../resources/css/template.css}">
</head>
<body>

    <div th:insert="header :: header(current = ${'transactions'})"></div>

    <main role="main" class="container">
        <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Сумма</th>
                <th scope="col">Счет</th>
                <th scope="col">Категория</th>
                <th scope="col">Тип транзакции</th>
                <th scope="col">Теги</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${list_transactions}">
                <td th:text="${transaction.dateTime}">
                <td th:text="${transaction.amount}">
                <td th:text="${transaction.account}">
                <td th:text="${transaction.category}">
                <td th:text="${transaction.transactionType}">
                <td th:text="${transaction.tags}">
            </tr>
            </tbody>
        </table>
        </div>
    </main>

</body>
</html>